#form-head{
    color: red;
    background-color: aqua;
    font-family:"Times New Roman";

}
input{

    color:blue;

}

body{

   /* background-image: url('image.jpg');*/
    background-repeat: no-repeat;
    background-position: center center;
}

.label-class{

    font-weight: bold;
    font-style: italic;
}

input#empphone{
    border-width: 5px;
    border-style: dashed;
}

h1{
    border-style: solid;
    border-width: 5px 10px 15px 20px;
    border-color: lightcoral;
    border-radius: 15px;
}

a:hover{
    color:green;
    }

ul{
    list-style-type: square;
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 8px;
    margin: 25px 10px 5px 0px;
    padding: 30px 30px 30px 30px;
    list-style-position: inside;

}